<div class="container links">
  <div class="row">
    <div class="col-sm-4">
      <div class="borderBox">
        <div class="title">About Us</div>
        <img src="img/slide2.png">
        <div class="innterContainer">
          <div class="description"><span>Find Out more about the members of Spotts Tae Kwon Do and the rest of the CTF Family!</span></div>
        </div>
        <div class="clickHere"><a href="#/aboutUs">&lt; Click Here  &gt;</a></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="borderBox">
        <div class="title">Social Media</div>
        <img src="img/slide1.png">
        <div class="innterContainer">
          <div class="description"><span>Come check us out on Facebook. Say hello, join the group, keep in touch. Everyone is welcome!</span></div>
        </div>
        <div class="clickHere"><a href="#/socialMedia">&lt; Click Here  &gt;</a></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="borderBox">
        <div class="title">Contact Info</div>
        <img src="img/slide4.png">
        <div class="innterContainer">
          <div class="description"><span> Get ahold of us via phone, e-mail, or come check out a class!</span></div>
        </div>
        <div class="clickHere"><a href="#/contact">&lt; Click Here  &gt;</a></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="borderBox">
        <div class="title">Class Schedule</div>
        <img src="img/slide3.png">
        <div class="innterContainer">
          <div class="description"><span>Find out when classes are and which one you or your child will be in.</span></div>
        </div>
        <div class="clickHere"><a href="#/classes">&lt; Click Here  &gt;</a></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="borderBox">
        <div class="title">About TKD</div>
        <img src="img/slide5.png">
        <div class="innterContainer">
          <div class="description"><span>Learn more about what makes Tae Kwon Do a great martial art in be involved in!</span></div>
        </div>
        <div class="clickHere"><a href="#/aboutTKD">&lt; Click Here  &gt;</a></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="borderBox">
        <div class="title">FAQ</div>
        <img src="img/slide6.png">
        <div class="innterContainer">
          <div class="description"><span>Didn't see what you were looking for here? Check the Frequently Asked Questions section!</span></div>
        </div>
        <div class="clickHere"><a href="#/FAQ">&lt; Click Here  &gt;</a></div>
      </div>
    </div>
  </div>

  <div class="joinContainer">
    <a href="#"><div class="joinNow">Join Now!</div></a>
  </div>
</div>
