<div class="main">
  <div class="container">
    <h1>SPOTTS TKD</h1>
    <p>Take the first step in self improvement today! </p>
    <a href="#/getStarted" class="btn">START NOW</a>
  </div>
</div>

<div class="supporting">
  <div class="container">
    <div class="col">
      <h2>About Us</h2>
      <p>Learn all about Spotts TKD, Tae Kwon Do, and the CTF.</p>
      <a href="#/aboutUs" class="btn">CLICK HERE</a>
    </div>
    <div class="col">
      <h2>Social Media</h2>
      <p>Keep in touch and up to date through Facebook.</p>
      <a href="#/socialMedia" class="btn">CLICK HERE</a>
    </div>
    <div class="col">
      <h2>Contact Info</h2>
      <p>Get ahold of us today to ask questions and get started.</p>
      <a href="#/contactInfo" class="btn">CLICK HERE</a>
    </div>

    <div class="clearfix"></div>
  </div>
</div>


<div class="feature">
  <div class="container">
    <h2>COURTESY</h2>
    <h2>MODESTY</h2>
    <h2>INTEGRITY</h2>
    <h2>PERSEVERANCE</h2>
    <h2>SELF-CONTROL</h2>
    <h2>INDOMITABLE SPIRIT</h2>
  </div>
</div>
<div class="supporting">
  <div class="container">
    <h2>STUDENT INFO</h2>
    <p>Resources for current students and those interested in the curriculum.</p>
    <a href="#/studentInfo" class="btn">VIEW MORE</a>
  </div>
</div>
<div class="footer">
  <div class="container">
    <h2>STOP SCROLLING. START TRAINING</h2>
    <p><a href="#/getStarted" class="btn">START NOW</a></p>
  </div>
</div>
