<div class="socialMedia">
  <h1>SOCIAL MEDIA</h1>

  <div class="supporting">
    <div class="container">

      <h2>FACEBOOK</h2>

      <div class="row">

        <div class="col-sm-6">
          <div class="facebookIframe">
            <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FSpottsTaeKwonDo&width=600&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=435" scrolling="yes" frameborder="0" style="border:none; overflow:hidden; width:500px; height:430px; background: white; float:left; " allowTransparency="true"></iframe>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="facebookInfo">
            <h2>Stop by our facebook page:</h2>
            <p>Like the Spotts Tae Kwon Do facebook page to keep up with all the news and events suhc as...</p>
            <ul>
              <li>Upcomming Events</li>
              <li>Tests/Promotions</li>
              <li>Tournament Results</li>
              <li>New classes starting</li>
              <li>Seminar Anouncments</li>
              <li>Weather Cancelations</li>
              <li>And much more!!!</li>
            </ul>
          </div>
        </div>

    </div>
  </div>
</div>
